@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");



body {
  font-family: 'Lato', sans-serif;
  background-color: #263B3F;
  color: white;
}

._title
{
  text-align: center;
  font-size: xx-large;
}
