/*in-body extensions*/
.centered
{
  font-size: large;
  text-align: center;
}

/*in-footer extensions*/
.nco-footer
{
  background-color: #263B3F;
  color: white;
  position: static;
  text-align: right;
}

/*span extensions*/
span.response-body
{
  font-size: normal;
}

span.subtitle
{
  font-size: x-large;
}

span.mail
{
  color: #6dc6d9;
}

.portfolio-click
{
  font-size: x-small
  font-style:italic;
  color:#6dc6d9;
}
