@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

body
{
  font-family: 'Lato', sans-serif;
  background: #263B3F;
  color : white;
  letter-spacing: 0.2px;
}

/* Buttons */

.white-button
{
  padding-top: 10px;
  padding-bottom: 10px;
}

.white-button a {
    padding: 12px 20px;
    background-color: #1C2B2E;
    color: #6dc6d9;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    margin: 20px;
}

.white-button a:hover {
    background-color: #6dc6d9;
    color: #fff;
}

.headband
{
  background: #1C2B2E;
  color : #6dc6d9;
  text-align: left;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.content
{
  margin-left: 15px;
}

.core-content
{
  margin-left: 15px;
  padding-bottom: 20px;
}

p.script-content
{
  background: black;
  color: white;
}

h2
{
  margin-left: 4px;
}

span.headband-title
{
  font-size: x-large;
}

span.mail
{
  color: #6dc6d9;
}

span.keyword-class
{
  color: #70D170;
}

span.keyword-method
{
  color: #EBFF6D;
}

span.keyword-unity-method
{
  color: #6dc6d9;
}

span.keyword-variable
{
  color: #999DF1;
}

span.keyword-t
{
  color: #BCFF82;
}

td,
th
{
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

table
{
  margin: 4px;
  border-collapse: collapse;
  border:2px solid rgb(200, 200, 2000);
  /*letter-spacing: 1px;*/
}

img.utpi-logo
{
  margin-left: 20px;
  margin-top: 2px;
  width: 3%;
  height: 3%;
}

a:link
{
  color: #6dc6d9;
  text-decoration: none;
}
a:visited
{
  color: #6dc6d9;
  text-decoration: none;
}
a:hover
{
  color:white
}
a:focus
{
  color: #6dc6d9;
  text-decoration: none;
}
a:active
{
  color: #6dc6d9;
  text-decoration: none;
}

footer
{
  background-color: #1C2B2E;
  color: white;
  text-align: right;
  left:0;
  bottom: 0;
  position: fixed;
  width:100%
}
